body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #89c5be;
}

h1 {
    color: #333;
}

form {
    margin: 20px auto;
    width: 400px;
    align-items: center;
}
.card {
    border: 2px solid #cccccc00; 
    padding: 20px;
    width: 500px; 
    margin: 0 auto; 
    background-color: #c4d8d6; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    
}
label, input {
    background-color: #c4d8d6;
    display: block;
    margin-bottom: 1px;
    width: 90%;
    border-radius: 3px;
    border-color: #05574f;
    text-align: left;
    padding-top: 7px;
    font-size: 18px;
    padding-left: 5px;
}
label{
    padding-bottom: 10px;
}
button {
    background-color: #E27D60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ac3d1e;
}

#displayList {
    margin-top: 50px;
    font-size: 20px;

}
#employeeUl li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #89c5be;
    color: #333;
    align-items: center;
}
