body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #89c5be;
}

h1 {
    color: transparent;
    background: linear-gradient(to right, #E27D60, #3e1004);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    margin: 20px auto;
    width: 400px;
    align-items: center;
}
.card {
    border: 2px solid #cccccc00; 
    padding: 20px;
    width: 500px; 
    margin: 0 auto; 
    background-color: #d2eaf1; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    
}
label, input {
    background-color: #d2eaf1;
    display: block;
    margin-bottom: 1px;
    width: 90%;
    border-radius: 3px;
    border-color: #082a2a;
    text-align: left;
    padding-top: 7px;
    font-size: 18px;
    padding-left: 5px;
}
label{
    padding-bottom: 10px;
}

button {
    background-color: #E27D60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ac3d1e;
}

#displayList {
    text-align: center;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; 
}

th {
    background-color: #d2eaf1;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #d2eaf1;
}

@media (max-width: 750px) {
    body {
        justify-content: center;
        align-items: center; 
    }
    .card{
        width: 50%;
    
        align-items: center;
        justify-content: center;
    }
    form{
        align-items: center;
        justify-content: center;
    }
    #displayList {
        width: 50%;
        align-items: center;
        justify-content: center;
    }
}